
/* Presentacion */
.contenedor-header {
  background-color: rgb(0, 3, 3);
  height: 350px;
  width: 100%;
  display: inline-flex;
  padding: 1rem;
}
 .titulo1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .titulo1 > h1{
  margin: 5px 0;
  text-align: center;
  font-size: 3rem;
  color: brown;
 }
 .logo1{
  width: 60%;
  display: flex;
  align-items: center;
  
 }
 .logo1 > img{
  width: 250px;
  height: auto;
  margin-left: 2rem;
 }


/* 📱 MÓVIL */
@media (max-width: 768px) {
  .contenedor-header {
    flex-direction: column;  
    align-items: center;  
    justify-content: center;       
  }

  .titulo1 {
    width: 90%;
    margin-bottom: 1rem;
  }
  .logo1{
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .logo1 > img {
    width: 180px; 
           
  }
}